* {
color-scheme: dark;
} 

body {
  padding: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.delete-form {
  display: inline;
  margin-right: 10px;
}
	
.delete-form button {
}
	
li {
  list-style: none;
}